body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.main {
  background: #4DE3AB;
  width: 550px;
  height: 500px;
  padding: 20px;
}

.table-box {
  width: 350px;
  height: 230px;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0,0,0,0.5);
  overflow-y: scroll;
}

img {
  height: 30px;
  width: 30px;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid #005277;
  border-collapse: collapse;
  text-align: center;
}

th {
  position: sticky;
  top: 0;
  background: #01bdf0;
  color: #fff;
}
